.Root {
  width: 100%;
  height: 70px;

  background-color: var(--color-white);

  padding-inline: var(--space-6x);
  padding-block: var(--space-6x);

  display: flex;
  align-items: center;
  gap: var(--space-6x);
}

.Title {
  font: var(--font-body-sm);
}

.Description {
  font: var(--font-caption);
}
