:root {
  --size-1x: 2px;
  --size-2x: 4px;
  --size-3x: 6px;
  --size-4x: 8px;
  --size-5x: 10px;
  --size-6x: 12px;
  --size-7x: 14px;
  --size-8x: 16px;
  --size-9x: 18px;
  --size-10x: 20px;
  --size-11x: 22px;
  --size-12x: 24px;
  --size-13x: 26px;
  --size-14x: 28px;
  --size-15x: 30px;
  --size-16x: 32px;
  --size-17x: 34px;
  --size-18x: 36px;
  --size-19x: 38px;
  --size-20x: 40px;
  --size-21x: 42px;
  --size-22x: 44px;
  --size-23x: 46px;
  --size-24x: 48px;
  --size-25x: 50px;
  --size-26x: 52px;
  --size-27x: 54px;
  --size-28x: 56px;
  --size-29x: 58px;
  --size-30x: 60px;
  --size-31x: 62px;
  --size-32x: 64px;
  --size-33x: 66px;
  --size-34x: 68px;
  --size-35x: 70px;
  --size-36x: 72px;
  --size-37x: 74px;
  --size-38x: 76px;
  --size-39x: 78px;
}
