:root {
  /* Шаг 1: Фон страницы и приложения */
  --pallete-violet1: #100e1f;

  /* Шаг 2: Фон страницы и приложения */
  --pallete-violet2: #171529;

  /* Шаг 3: Фон компонентов */
  --pallete-violet3: #261c4e;

  /* Шаг 4: Фон компонентов */
  --pallete-violet4: #311f6b;

  /* Шаг 5: Фон компонентов */
  --pallete-violet5: #3a287a;

  /* Шаг 6: Границы и разделители */
  --pallete-violet6: #443389;

  /* Шаг 7: Границы и разделители */
  --pallete-violet7: #5240a0;

  /* Шаг 8: Границы и разделители */
  --pallete-violet8: #664fc3;

  /* Шаг 9: Заливка акцентных элементов */
  --pallete-violet9: #622fda;

  /* Шаг 10: Заливка акцентных элементов */
  --pallete-violet10: #5615c8;

  /* Шаг 11: Текст */
  --pallete-violet11: #b2a7ff;

  /* Шаг 12: Текст */
  --pallete-violet12: #dfddff;

  /* Шаг 1: Фон страницы и приложения */
  --alpha-pallete-violet1: #0000ff0f;

  /* Шаг 2: Фон страницы и приложения */
  --alpha-pallete-violet2: #4c39fd1a;

  /* Шаг 3: Фон компонентов */
  --alpha-pallete-violet3: #623bfd42;

  /* Шаг 4: Фон компонентов */
  --alpha-pallete-violet4: #6535fd61;

  /* Шаг 5: Фон компонентов */
  --alpha-pallete-violet5: #6e45fe71;

  /* Шаг 6: Границы и разделители */
  --alpha-pallete-violet6: #7655ff81;

  /* Шаг 7: Границы и разделители */
  --alpha-pallete-violet7: #7d5ffe9a;

  /* Шаг 8: Границы и разделители */
  --alpha-pallete-violet8: #8364ffbf;

  /* Шаг 9: Заливка акцентных элементов */
  --alpha-pallete-violet9: #7034fed8;

  /* Шаг 10: Заливка акцентных элементов */
  --alpha-pallete-violet10: #6a16fec5;

  /* Шаг 11: Текст */
  --alpha-pallete-violet11: #b2a7ff;

  /* Шаг 12: Текст */
  --alpha-pallete-violet12: #dfddff;
}
