:root {
  /* Шаг 1: Фон страницы и приложения */
  --pallete-gray1: #fcfcfd;

  /* Шаг 2: Фон страницы и приложения */
  --pallete-gray2: #f9f9fb;

  /* Шаг 3: Фон компонентов */
  --pallete-gray3: #eff0f3;

  /* Шаг 4: Фон компонентов */
  --pallete-gray4: #e7e8ec;

  /* Шаг 5: Фон компонентов */
  --pallete-gray5: #e0e1e6;

  /* Шаг 6: Границы и разделители */
  --pallete-gray6: #d8d9e0;

  /* Шаг 7: Границы и разделители */
  --pallete-gray7: #cdced7;

  /* Шаг 8: Границы и разделители */
  --pallete-gray8: #b9bbc6;

  /* Шаг 9: Заливка акцентных элементов */
  --pallete-gray9: #8b8d98;

  /* Шаг 10: Заливка акцентных элементов */
  --pallete-gray10: #80828d;

  /* Шаг 11: Текст */
  --pallete-gray11: #62636c;

  /* Шаг 12: Текст */
  --pallete-gray12: #1e1f24;

  /* Шаг 1: Фон страницы и приложения */
  --alpha-pallete-gray1: #00005503;

  /* Шаг 2: Фон страницы и приложения */
  --alpha-pallete-gray2: #00005506;

  /* Шаг 3: Фон компонентов */
  --alpha-pallete-gray3: #00104010;

  /* Шаг 4: Фон компонентов */
  --alpha-pallete-gray4: #000b3618;

  /* Шаг 5: Фон компонентов */
  --alpha-pallete-gray5: #0009321f;

  /* Шаг 6: Границы и разделители */
  --alpha-pallete-gray6: #00073527;

  /* Шаг 7: Границы и разделители */
  --alpha-pallete-gray7: #00063332;

  /* Шаг 8: Границы и разделители */
  --alpha-pallete-gray8: #00083046;

  /* Шаг 9: Заливка акцентных элементов */
  --alpha-pallete-gray9: #00051d74;

  /* Шаг 10: Заливка акцентных элементов */
  --alpha-pallete-gray10: #00051b7f;

  /* Шаг 11: Текст */
  --alpha-pallete-gray11: #0002119d;

  /* Шаг 12: Текст */
  --alpha-pallete-gray12: #000107e1;
}
