:root {
  /* Шаг 1: Фон страницы и приложения */
  --pallete-red1: #170f0e;

  /* Шаг 2: Фон страницы и приложения */
  --pallete-red2: #201312;

  /* Шаг 3: Фон компонентов */
  --pallete-red3: #3c1210;

  /* Шаг 4: Фон компонентов */
  --pallete-red4: #520d0d;

  /* Шаг 5: Фон компонентов */
  --pallete-red5: #631413;

  /* Шаг 6: Границы и разделители */
  --pallete-red6: #75221f;

  /* Шаг 7: Границы и разделители */
  --pallete-red7: #8e322d;

  /* Шаг 8: Границы и разделители */
  --pallete-red8: #b8433c;

  /* Шаг 9: Заливка акцентных элементов */
  --pallete-red9: #da2f2f;

  /* Шаг 10: Заливка акцентных элементов */
  --pallete-red10: #b5413a;

  /* Шаг 11: Текст */
  --pallete-red11: #ff9084;

  /* Шаг 12: Текст */
  --pallete-red12: #ffd1cb;

  /* Шаг 1: Фон страницы и приложения */
  --alpha-pallete-red1: #ec000007;

  /* Шаг 2: Фон страницы и приложения */
  --alpha-pallete-red2: #f22f2011;

  /* Шаг 3: Фон компонентов */
  --alpha-pallete-red3: #fb170c2f;

  /* Шаг 4: Фон компонентов */
  --alpha-pallete-red4: #fe030346;

  /* Шаг 5: Фон компонентов */
  --alpha-pallete-red5: #ff1a1758;

  /* Шаг 6: Границы и разделители */
  --alpha-pallete-red6: #fd39326c;

  /* Шаг 7: Границы и разделители */
  --alpha-pallete-red7: #ff504786;

  /* Шаг 8: Границы и разделители */
  --alpha-pallete-red8: #ff594fb3;

  /* Шаг 9: Заливка акцентных элементов */
  --alpha-pallete-red9: #fe3434d8;

  /* Шаг 10: Заливка акцентных элементов */
  --alpha-pallete-red10: #ff574db0;

  /* Шаг 11: Текст */
  --alpha-pallete-red11: #ff9084;

  /* Шаг 12: Текст */
  --alpha-pallete-red12: #ffd1cb;
}
