.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: top;
  border-radius: var(--_border-radius, var(--radius-4x));

  width: var(--_avatar-size);
  height: var(--_avatar-size);
}

.Image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* Sizes */
.Size--sm {
  --_avatar-size: 36px
}

.Size--md {
  --_avatar-size: 56px
}

.Size--lg {
  --_avatar-size: 72px
}

.Rounded {
  --_border-radius: var(--radius-full);
}
