@import "../_colors/color-gray.css";
@import "../_colors/color-green.css";
@import "../_colors/color-red.css";
@import "../_colors/color-violet.css";
@import "../_colors/color-white.css";

:root {
  /* ---------- Backgrounds --------- */

  /* Фона приложения */
  --theme-background-application: var(--pallete-gray2);
  /* Фон картоцек, ячеек. панелей */
  --theme-background-component: var(--color-white);

  /* ---------- Text ------------ */
  --theme-text-application: var(--pallete-gray12);
  --theme-text-caption: var(--pallete-gray11);

  /*------------ Controls Primary -----------*/
  /* Фон или обводка */
  --theme-control-primary-base: var(--pallete-violet9);
  /* Цвет текста для заливки */
  --theme-control-primary-text: var(--color-white);

  /*------------ Controls Secondary -----------*/
  /* Фон или обводка */
  --theme-control-secondary-base: var(--pallete-gray9);
  /* Цвет текста для заливки */
  --theme-control-secondary-text: var(--color-white);

  /*------------ Controls Success -----------*/
  /* Фон или обводка */
  --theme-control-success-base: var(--pallete-green9);
  /* Цвет текста для заливки */
  --theme-control-success-text: var(--color-white);

  /*------------ Controls Warning -----------*/
  /* Фон или обводка */
  --theme-control-warning-base: var(--pallete-gray9);
  /* Цвет текста для заливки */
  --theme-control-warning-text: var(--color-white);

  /*------------ Controls Danger -----------*/
  /* Фон или обводка */
  --theme-control-danger-base: var(--pallete-red9);
  /* Цвет текста для заливки */
  --theme-control-danger-text: var(--color-white);
}
